# setting text code to treat japanese
[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# mysql8.0 change authoentication
# default-authoentication-plugin=mysql_native_password

[mysql]
default-character-set=utf8mb4

[clinet]
default-character-set=utf8mb4